# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
assets
f805db3b
f955fc57
fa0899b9
2a5c5c1d
2ce7cfed
2eb1dbfe
2f0d16ff
3a5c3cf7
3b0d9c88
4b0289e4
4e017091
6a7e7239
7e849ece
8c9bdbe7
8dd6690f
8fcc8a2d
9e1ef75e
9fe810e0
18b9cf2f
25a3e15f
28d7addc
29a2fd06
53cb822d
98bd314d
320e98e3
332c1548
718ab96b
813e920c
915a25de
8609e1d2
119560be
726237f8
6728996d
9727807e
47240222
83266007
89182461
a1a4e67b
a17db1b9
a561d8be
ba2acc5c
c2e9d555
c16de611
c86be8cb
c901784e
c9596157
d2c0aff6
d6edd319
df920b6b
dfe4c885
e69f8b97
e259ebd9
e8818df4
ed67d434
ee9cfcc6
f003f382
f503d37a
